<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Music</title>
</head>
<body>
  <form action="/addsong" method="post">
    <h1>Enter your favorite song details</h1>
    <input type="text" name="songName" placeholder="songName" required>
    <input type="text" name="filmName" placeholder="filmName" required>
    <input type="text" name="musicDirector" placeholder="musicDirector" required>
    <input type="text" name="singer" placeholder="singer" required>
    <button type="submit" value="Add Music">Add Music</button>
    </form>
</body>
</html>